* { 
    background-color: rgb(214, 221, 210);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-size: 62.5%; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    padding: 10px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}
 .choices {
     display: grid;
     grid-template-columns: repeat(2, auto);
     gap: 10px;
 }

h1,
p  {
    font-size: 5rem;
    color: #19535F;
    margin-bottom: 4.5rem;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


#start {
    font-size: 3rem;
    padding: 1rem 0;
    width: 30rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #75B9BE;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}